@import "../../misc/global.scss";

.posts {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.container {
    width: 50%;
    margin: auto;
  }
  
  .header {
    text-align: center;
    margin: 1rem;
    font-size: 4rem;
  }

  .create-post-link {
    @include Button;
  }
}
