@import "../../misc/global.scss";

.posts {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.container {
    width: 50%;
    margin: auto;
  }
  
  .header {
    text-align: center;
    margin: 2rem;
    margin-bottom: 0;
    font-size: 7rem;
  }

  .refetch-time {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 3rem;
  }

  .create-post {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 1rem;
  }

  .create-post-link {
    @include Button;margin-bottom: 3rem;
    padding: 1.5rem 3rem;
    font-size: 2.25rem;
  }
}
