@import '../global.scss';

.bar {
	display: flex;
	height: 7.5vh;
	width: 100%;
	background: $bgColor;

	.flex {
		display: flex;
		align-items: center;
		flex-direction: row;
	}

	.nav-brand {
		flex: 1;
		justify-content: space-evenly;

		.heading {
			color: white;
			font-size: 2rem;
			font-weight: 500;
		}
	}

	.nav-links {
		flex: 2;
		justify-content: space-around;

		.link {
			@include Link;
		}
	}

	.empty {
		display: flex;
		flex: 8;
		justify-content: flex-end;
		align-items: center;

		.sign-up {
			@include Button;
		}

		.sign-in {
			@include Link;
			margin-left: 1rem;
			font-size: 1rem;
		}

		.username {
			color: white;
			font-weight: 400;
			font-size: 1.25rem;
		}

		.sign-out {
			@include Button;	
			margin-left: 2rem;
		}
	}
}

.container {
	margin: auto;
	width: 90%;
}
